Vagrant::Config.run do |config|
  config.vm.box       = 'devbox-0.1'
  config.vm.host_name = 'chef-rails-dev-box'

  config.vm.network :hostonly, "192.168.30.00"
  config.vm.share_folder("vagrant-root", "/vagrant", ".", "nfs" => true)
end